@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

a:hover{
    text-decoration: underline;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 49, 49);
    color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}